body{background:rgba(2, 66, 17, 0.8)}
.train{
  position: absolute;
  top:0;
   left:0;
  width: 1000px;
  height: 1000px;
  z-index: 3;
}
.qwert {
  position:absolute;
  
   top:2%; 
   left:4%;
   height: 700px;
   max-height: 700px;
   width: 1200px;
     /*max-width: 100%;*/
  background-color: hsla(200,40%,30%,.4);
  background-image:   
  url(./img/tree-black.png),
  url(./img/tree-color2.png),
  url(./img/cloud.png),
  url(./img/mount2.png),
  url(./img/cloud2.png);
  background-repeat: repeat-x;
  background-position: 
    0 20%,
    left bottom,/*100%*/
    0 50%,
    0 100%,
    0 0;
  background-size: 
    2500px,
    2000px,
    500px 200px,
    2540px,
    400px 260px;
  animation: 50s para infinite linear;
  z-index: 1;
  }

@keyframes para {
  100% {
    background-position: 
      5000px 20%,
      2000px 100%,
      -500px 50%,
      -2540px 100%,
      -400px 0;
    }
  }

button{
  position: relative;
  top: 10px;
  left: 80%;
}
